@use "../variables" as *;

#about-view.about.view {
    .about-trshpuppy {
        display : flex;
        align-items: center;

        .hero {
            flex-shrink: 0;
            width: 20rem;
            height: 20rem;
            background-repeat : no-repeat;
            background-size   : 100%;
            background-position: center;
            border-radius: 50%;
            border: 0.5rem solid $border_color;
            transition: background-size 200ms, transform 120ms;

            &:hover {
                background-size: 120%;
                transform: scale(120%);
                border-width: 0.25rem;
            }

            &:nth-child(odd) {
                margin-right: 2rem;
            }

            &:nth-child(even) {
                margin-left: 2rem;
            }
        }

        h2 {
            font-family: Orbitron, monospace;
        }

        .hero.loki-and-rose {
            background-image: url("img/loki-and-rose.webp");
            background-position: center;
        }

        .hero.rose {
            background-image: url("img/rose.webp");
            background-position: center;
        }

        .hero.loki-sunset {
            background-image  : url("img/loki-sunset.webp");
        }

        .info {
            font-size: 1.2rem;
        }
    }
}