@use '../variables' as *;

#contact-view.contact.view {
   section {
      display: flex;
      align-items: center;
      margin: 2rem 0;
      width: 100%;
   }

   /**
   test
   **/

   .info {
      width: 100%;
      font-size: 1.2rem;
      line-height: 2rem;

      .link {
         display: inline-flex;
         gap: 0.5rem;
         background-color: $active;
         color: $pink_medium;
         text-decoration: none;
         font-weight: 500;
         padding: 0.75rem 1rem;
         border-radius: 0.5rem;
         filter: drop-shadow(0 0 2rem rgba($active, 0.15));
         transition:
            color 200ms,
            background-color 200ms,
            transform 120ms,
            filter 200ms;

         &:hover,
         &:focus {
            color: $active;
            background-color: $pink_medium;
            filter: drop-shadow(0 0 5rem rgba($active, 0.5));
            transform: scale(1.1);
         }

         &:active {
            background-color: #fff;
            color: #000000;
         }

         svg {
            padding: 0.25rem;
            height: 2rem;
            width: 2rem;
            fill: currentColor;
         }
      }
   }

   h2 {
      font-family: Orbitron, monospace;
      background-image: linear-gradient(45deg, $active, $pink);
      -webkit-background-clip: text;
      color: transparent;
   }

   .hero {
      height: 20rem;
      width: 20rem;
      border: 0.25rem solid $border_color;
      flex-shrink: 0;
      border-radius: 50%;
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      transition:
         background-size 200ms,
         transform 120ms;
      filter: $hero_filter;

      &:hover {
         background-size: 120%;
         transform: scale(120%);
         border-width: 0.15rem;
      }

      &:nth-child(odd) {
         margin-right: 2rem;
      }

      &:nth-child(even) {
         margin-left: 2rem;
      }
   }

   .hero-about {
      position: relative;
      background-image: url('/img/contact-phone.webp');
   }

   .hero-twitch {
      background-image: url('/img/contact-twitch.webp');
   }

   .hero-youtube {
      background-image: url('/img/contact-youtube.webp');
   }
}
