@use '../variables' as *;

.home {
   text-align: justified;

   .masthead {
      display: flex;
      justify-content: center;
      align-items: center;

      .entry-title {
         display: grid;
         align-content: center;
         font-size: 4rem;
         line-height: 4.5rem;
         font-weight: 900;
         font-family: 'Orbitron';
         margin: 2rem 0;
      }

      .hero {
         position: relative;
         height: 700px;
         width: 700px;
         background-image: url('/img/logo-2.webp');
         background-size: contain;
         background-position: right;
         background-repeat: no-repeat;
      }

      .short-links {
         a {
            color: #fff;
            text-decoration: none;

            font-size: 1rem;
            font-family: 'Montserrat';
            font-weight: 600;
            background-color: $foreground;
            padding: 0.5rem 2rem;
            margin-right: 1rem;
            border-radius: 0.5rem;
         }
      }

      .flashy-deck {
         display: flex;
         flex-wrap: wrap;
         position: absolute;
         left: 0;
         max-width: 50vw;
         top: 10rem;
         padding: 0;
         z-index: 0;

         .flashy {
            position: relative;
            display: grid;
            height: 15px;
            width: 15px;
            opacity: 0.05;
            border: 1px solid $background;
            background-color: $active;

            &::before {
               content: '';
               opacity: 0;
               display: block;
               height: 900%;
               width: 900%;
               align-self: center;
               justify-self: center;
               border-radius: 50%;
               background: radial-gradient(circle, currentColor 0%, currentColor 1%, hsla(0, 0%, 0%, 0) 58%);
               pointer-events: none;
               z-index: 10;
            }

            &:hover,
            &.active {
               opacity: 0.5;
               background-color: currentColor;
               border: 1px solid currentColor;
               filter: drop-shadow(0 0 8px currentColor);

               &::before {
                  opacity: 0.1;
               }
            }

            &.active {
               opacity: 1;
               animation-name: fade;
               animation-iteration-count: infinite;

               &::before {
                  height: 3200%;
                  width: 3200%;
               }

               @keyframes fade {
                  0% {
                     opacity: 1;
                  }
                  50% {
                     opacity: 0.5;
                  }
                  100% {
                     opacity: 1;
                  }
               }
            }
         }
      }
   }
}
