@use "../variables" as *;

.terminal {
    position         : relative;
    width            : 100%;
    justify-content  : center;
    align-items      : flex-start;
    margin           : 2rem 0;
    background-color : $container_bg;
    border           : 0.25rem solid #2f2734;
    border-top       : 1.75rem solid #2f2734;
    border-radius    : 0.5rem;
    font-family      : "CamingoCode", monospace;

    .content {
        display               : grid;
        grid-template-columns : 1fr 1fr;

        @media screen and (max-width : 1400px) {
            grid-template-columns : 1fr;
            flex-direction        : column-reverse;

            .hero {
                border-radius : 50%;
                height        : 300px;
                width         : 300px;
                margin        : 1rem 2rem 0;
                order         : -1;
            }
        }
    }

    @media screen and (max-width : 668px) {
        margin : 0;
    }

    .terminal-entry {
        display         : flex;
        position        : relative;
        padding         : 1rem 2rem;
        font-family     : Orbitron, monospace;
        background      : linear-gradient(to bottom right, #cfadee, #ef87d7, #ff0393);
        background-clip : text;
        color           : transparent;
        font-weight     : 900;
        width           : 100%;
        z-index         : 5;

        h2 {
            font-size     : 1.5rem;
            line-height   : 1.75rem;
            margin-bottom : 0.5rem;
        }

        small {
            color       : #fff;
            font-family : CamingoCode, monospace;
            font-weight : 300;
            font-size   : 1rem;
            line-height : 1rem;
        }
    }

    .sparkles {
        position          : absolute;
        top               : 0;
        left              : 10px;
        opacity           : 0.5;
        height            : 4rem;
        width             : 4rem;
        transform         : rotateY(180deg);
        //noinspection CssUnknownTarget This is in the Public Dir
        background-image  : url("/animated/star.webp");
        background-size   : contain;
        background-repeat : no-repeat;
        z-index           : -1;
    }

    .terminal-input {
        margin      : 2rem 0;
        padding     : 0;
        line-height : 1.4rem;

        .terminal-prefix {
            color       : #e600ff;
            font-weight : 900;
        }
    }

    .window-title {
        position    : absolute;
        width       : 100%;
        text-align  : center;
        font-size   : 0.6rem;
        top         : -0.8rem;
        margin      : 0;
        padding     : 0;
        line-height : 0;
        font-family : "Orbitron", monospace;
        color       : #BFB3C6;
    }

    .terminal-text {
        line-height             : 0.75rem;
        font-size               : 0.75rem;
        background              : linear-gradient(to bottom right, #cfadee, #ef87d7, #ff0393);
        background-clip         : text;
        -webkit-background-clip : text;
        color                   : transparent;
    }

    .hero {
        height              : 520px;
        width               : 100%;
        //noinspection CssUnknownTarget This is in the Public Dir
        background-image    : url("/img/logo-1.webp");
        background-size     : cover;
        background-position : center;
        background-repeat   : no-repeat;
    }

    .short-links {
        margin : 1rem;

        a {
            display         : flex;
            font-family     : "CamingoCode", monospace;
            text-decoration : none;
            font-size       : 1rem;
            line-height     : 2rem;
            margin          : 1rem 1.5rem 0 0.5rem;
            padding         : 0.5rem;
            color           : $active;
            text-shadow     : 0 0 1px #fff;
            cursor          : pointer;
            font-weight     : 0;

            img {
                display : none;
                height  : 2rem;
                width   : 2rem;
                margin  : 0 0.5rem;
                filter  : sepia(100%) hue-rotate(260deg);
            }

            &:before {
                content        : "[]";
                height         : 1rem;
                width          : 1rem;
                left           : 0;
                letter-spacing : 1rem;
                margin-right   : 2rem;
            }

            &:hover,
            &:focus {
                color : #fff;

                img {
                    display : block;
                }

                &:after {
                    content  : "x";
                    position : absolute;
                    display  : block;
                    left     : 2.8rem;
                    color    : #e600ff;
                }
            }
        }
    }

    .traffic-lights {
        display  : flex;
        position : absolute;
        top      : -1.25rem;
        left     : 0.5rem;

        .traffic-light {
            position                  : relative;
            display                   : grid;
            opacity                   : 0.25;
            animation-name            : sparkle;
            animation-iteration-count : infinite;
            height                    : 0.75rem;
            width                     : 0.75rem;
            background-color          : currentColor;
            margin-right              : 0.4rem;
            filter                    : drop-shadow(0 0 8px currentColor);

            &::before {
                content        : "";
                opacity        : 0.04;
                display        : block;
                height         : 900%;
                width          : 900%;
                align-self     : center;
                justify-self   : center;
                border-radius  : 50%;
                background     : radial-gradient(circle, currentColor 0%, currentColor 1%, hsla(0, 0%, 0%, 0) 58%);
                pointer-events : none;
                z-index        : 10;
            }

            &:hover {
                opacity : 1;

                &:before {
                    opacity : 0.1;
                    height  : 1800%;
                    width   : 1800%;
                    pointer-events : none;
                }
            }
        }
    }
}