@use "../variables" as *;

nav {
    position                  : relative;
    display                   : grid;
    justify-items             : center;
    align-content             : flex-start;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    overflow: hidden;
    height: 100%;
    border-right: 1px solid #413c4a;
    background-image          : linear-gradient(to top, #231445, #4e2e77, #8358ab, #aa7fca, #d2a7ea);

    ul {
        list-style : none;
        margin     : 1px 0 0 0;
        padding    : 0;
    }

    .socials {
        position: absolute;
        bottom: 0;
        transition: all 200ms;
    }

    #linkInfo {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        text-align: center;

        samp {
            position: absolute;
            display: block;
            filter : drop-shadow(0 0 4px rgba(#ffc38e, 0.95));
            transition: all 100ms;
            font-weight: 700;
            font-size: 0.7rem;
            padding: 0.2rem 1rem;
            border-radius: 1rem 0 1rem 0;
            top: 1.5rem;
            opacity: 0;
            border: 1px solid #26083e;

            &.active {
                top: -1.75rem;
                opacity: 1;
            }
        }
    }

    .socials-heading {
        font-size: 1.25rem;
        color: #CCC4D9;
        text-align: center;
        width: 100%;
    }

    .external-links {
        display: flex;
        flex-wrap: wrap;
        padding: 1.5rem 0.25rem;
        gap: 0.25rem;

        a.link {
            display: flex;
            position: relative;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #2b233c;
            border-radius: 50%;
            border: 2px solid #9883c3;
            padding: 0.54rem;
            transition: 50ms all;
            cursor: pointer;

            svg {
                height: 1rem;
                width: 1rem;
                pointer-events: none;
                transition: 120ms all;
                fill: #D0B7ED;
                filter: drop-shadow(0 1px 1px #333333);
            }

            &:active {
                top: 3px;
                box-shadow: 0 5px 1px rgba(0, 0, 0, 0.40);
                border: 2px solid #ffc38e;

                svg {
                    fill: #ffc38e !important;
                }
            }

            &.twitch {
                position: relative;

                svg {
                    z-index: 1;
                }

                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    background-color: transparent;
                    top: 8px;
                    left: 0.75rem;
                    width: 14px;
                    height: 18px;
                    border-bottom-right-radius: 10px;
                    transition: 120ms all;
                }
            }

            &:hover,
            &:focus {
                border: 2px solid #ffc38e;
                filter: drop-shadow(0 0 4px rgba(#ffc38e, 0.95));

                $link-colors: (
                    hackthebox: #d3ee98,
                    tryhackme: #ffeb81,
                    codewars: #F05656,
                    youtube: #F50003,
                    twitter: #2C96E8,
                    github: #E6EDF3,
                    twitch: #A960FF
                );

                @each $link-type, $color in $link-colors {
                    &.#{$link-type} {
                      filter: drop-shadow(0 0 4px #{$color});
                      border: 2px solid #{$color};
              
                      svg {
                        fill: #{$color};
                      }
                    }
                  }

                &.twitch:before {
                    background-color: #fff;
                }
            }
        }
    }

    img {
        position:relative;
        width                  : 100%;
        height                 : 6.5rem;
        object-fit             : cover;
        transition: all 200ms;
    }

    .nav-link {
        display          : flex;
        justify-content  : space-between;
        align-items      : center;
        width            : 8rem;
        background-color : #3b324d;
        text-decoration  : none;
        font-weight      : 600;
        font-size        : 0.75rem;
        color            : #CCC4D9;
        border-bottom     : 1px solid $border_color;
        transition: all 40ms, width 200ms, font-size 200ms;

        span {
            margin-left: 0.5rem;
        }

        svg {
            height : 100%;
            width: 2.25rem;
            margin: 1px;
            padding: 0.4rem;
            fill   : #9d95aa;
            transition: all 200ms;
            border-radius: 0;
        }

        &:hover,
        &:focus {
            outline: none;
        }

        &.active {
            //border-left: 2px solid #ffc38e;
            color: #ffc38e;

            svg {
                fill: #ffc38e;
                filter : drop-shadow(0 0 8px rgba(#ffc38e, 0.75));
            }
        }
    }

    $nav-links: (
        home: #ffffff,
        projects: #c1ffbe,
        about: #fffdcb,
        contact: #ffdcf1
      );
      
    @each $key, $color in $nav-links {
        li.nav-link-#{$key} .nav-link {
            // &:hover,
            // &:focus {
            //     border-left: 3px solid $color;
            // }
        
            &.active {
                color: $color;

                svg {
                    fill: $color;
                    filter: drop-shadow(0 0 8px rgba($color, 0.75));
                }
            }
        }
    }
}