@use "../variables" as *;

nav {
    position                  : relative;
    display                   : grid;
    justify-items             : center;
    align-content             : flex-start;
    border-top-left-radius    : 1rem;
    border-bottom-left-radius : 1rem;
    height                    : 100%;
    flex-shrink               : 0;
    background-color: #010409;
    //background-image          : linear-gradient(to top, #2f1071, #5b348e, #8358ab, #aa7fca, #d2a7ea);

    ul {
        list-style : none;
        margin     : 1px 0 0 0;
        padding    : 0;
    }

    .socials {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .socials-heading {
        font-size: 1.25rem;
        color: #CCC4D9;
        text-align: center;
        width: 100%;
    }

    .external-links {
        display: flex;
        flex-wrap: wrap;
        padding: 0.5rem;
        justify-content: center;
        gap: 0.25rem;

        a.link {
            display: flex;
            position: relative;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #2b233c;
            border-radius: 5rem;
            border: 2px solid #9883c3;
            padding: 0.5rem;
            margin-bottom: 0.25rem;
            top: 0;
            transition: 50ms all;
            cursor: pointer;
            

            svg {
                height: 1.25rem;
                width: 1.25rem;
                pointer-events: none;
                transition: 120ms all;
                fill: #D0B7ED;
                filter: drop-shadow(0 1px 1px #333333);
            }

            &.twitch {
                position: relative;

                svg {
                    z-index: 1;
                }

                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    background-color: transparent;
                    top: 8px;
                    left: 10px;
                    width: 14px;
                    height: 18px;
                    border-bottom-right-radius: 10px;
                    transition: 120ms all;
                }
            }

            &:active {
                top: 5px;
                box-shadow       : 0 5px 1px rgba(0, 0, 0, 0.40);
                border: 2px solid ffc38e;
                
                svg {
                    fill: #ffc38e !important;
                }
            }

            &:hover,
            &:focus {
                border: 2px solid #ffc38e;
                filter : drop-shadow(0 0 4px rgba(#ffc38e, 0.95));

                &.hackthebox svg {fill: #d3ee98;}
                &.tryhackme svg {fill: #ffeb81;}
                &.codewars svg {fill: #F05656;}
                &.youtube svg {fill: #F50003;}
                &.twitter svg {fill: #2C96E8;}
                &.github svg {fill: #E6EDF3;}
                &.twitch {
                    svg {
                        fill: #A960FF;
                    }

                    &:before {
                        background-color: #fff;
                    }
                }
            }
        }
    }

    img {
        border-top-left-radius : 1rem;
        width                  : 100%;
        height                 : 6.5rem;
        object-fit             : cover;
    }

    .nav-link {
        display          : flex;
        position         : relative;
        justify-content  : space-between;
        align-items      : center;
        padding          : 0 0.75rem;
        top              : 0;
        height           : 2.5rem;
        width            : 9rem;
        background-color : #3b324d;
        color            : #CCC4D9;
        border-bottom     : 1px solid $border_color;
        text-decoration  : none;
        font-weight      : 600;
        font-size        : 0.85rem;
        text-align       : center;
        border-left: 2px solid transparent;
        transition: all 40ms, filter 200ms;

        svg {
            height : 1.5rem;
            fill   : #9d95aa;
            filter: drop-shadow(0 0 1px #000);
            transition: all 200ms;
        }

        &:hover,
        &:focus {
            color: #FCD5B0;            
        }

        &.active {
            //border-left: 2px solid #ffc38e;
            color: #ffc38e;

            svg {
                fill: #ffc38e;
                filter : drop-shadow(0 0 8px rgba(#ffc38e, 0.75));
            }
        }
    }
}