@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Press+Start+2P&family=Trispace&display=swap');

body
{
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-image: url(./img/backdrop.gif);
    background-position-y: 60%;
    background-size: 70%;
    background-attachment: fixed;
    margin: 40px;
    padding: 0;
    z-index: 1;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ NAV BAR / MENU~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
nav
{
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width:70vw;
    background-color: #10474B;
    padding-top:20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position:sticky;
    top:0;
    z-index:1;
}
.logo
{
    align-self: flex-start;
}
#logo-pic
{
    max-width: 200px;
    border-color: #050429;
    border-radius: 100%;
    box-shadow: 2px 2px #43E0C6;
    border:2px solid #E68CC6;
}
#logo-pic:hover
{
    box-shadow: 6px 6px #43E0C6;
    transform: translatey(-5%);
}
.menu
{
    display:flex;
    flex-flow:row wrap;
    align-items: flex-end;
    justify-content: space-around;
    width:40%;
    padding:20px;
}
button
{
    font-family: 'Trispace', monospace;
    font-size: medium;
    color:white;
    padding:5px;
    border: 2px solid #E68CC6;
    cursor:pointer;
    background-color: transparent;
    box-shadow: 2px 2px #43E0C6;
    border-radius: 2px;;
}
button:hover
{
    box-shadow: 5px 5px #43E0C6;
    transform: translatey(-5%);
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SECTION 1~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.section1
{
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background-color:#10474B;
    width:70vw;
    margin-bottom: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.welcome
{
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    width:30%;
    color:#EEDD99;
    font-family: 'Press Start 2P', monospace;
}
.welcome h3
{
    font-family: 'Trispace', Courier;
    color:#43E0C6;
    padding-right: 50px;
}
.welcome a
{
    align-self:flex-start;
}
.pic
{
    width: 28%;
    position:relative;
    z-index: 0;
}
.welcome-pic
{
    margin:20px;
    width:100%;
    margin-bottom: 0;
    transform: translateY(1%);
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SECTION 2~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.section2
{
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    background-color:#E68CC6;
    width:70vw;
    margin:20px;
    font-family: 'Trispace', Courier;
    text-align: center;
    color:#10474B;
    border-radius: 5px;
}
.linkbox-container
{
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width:87%;
}
.linkbox
{
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    max-width:20%;
}
.linkbox-btn
{
    border-color:transparent;
    box-shadow: none;
}
.linkbox-btn:hover
{
    box-shadow: none;
}
.gif
{
    max-width: 60%;
    text-align: center;
}
#tp-happy
{
    max-width: 50%;
    padding-top:10px;
    padding-bottom:20px;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SECTION 3~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.section3
{
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    background-color:#EEDD99;
    width:70vw;
    font-family: 'Trispace', Courier;
    text-align: center;
    color:#351D61;
    font-size: 1.8rem;
    margin:20px;
    padding-top: 100px;
    padding-bottom: 50px;
    border-radius: 5px;
}
.quote
{
    padding-inline: 20px;
    padding-bottom: 30px;
}
.author
{
   font-size: 1.5rem;
   align-self: flex-end;
   padding-inline: 100px;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SECTION 4~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.section4
{
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin:20px;
    padding-top:50px;
    padding-bottom:50px;
    background-color: #10474B;
    width:70vw;
    border-radius: 5px;
}
.sec4-box
{
    display:flex;
    flex-flow:row nowrap;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 1;
    background-color: #351D61;
    max-width: 40vw;
    border-radius: 5px;
    color:#43E0C6;
    font-family: 'Inconsolata', monospace;
    padding:20px;
}
.left-side
{
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
    width: 50%;
    text-align: center;
}
.call4action
{
    font-family: 'Press Start 2P';
    color:#EEDD99;
    flex-shrink: 1;
}
.context
{
    flex-shrink: 1;
}
.right-side
{
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
    width:50%;
    text-align: center;
    color:#EEDD99
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
footer
{
    background-color:#351D61;
    margin: 20px;
    width: 70vw;
    text-align: center;
    color:#E68CC6;
    padding-top:20px;
    padding-bottom:20px;
    border-radius: 5px;;
}
footer a
{
    color:#E68CC6;
    padding:10px;
}