@use '../variables' as *;

.site-header {
   nav ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 1rem 0;

      li {
         a {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            color: #fff;
            text-decoration: none;
            width: 5rem;

            svg {
               fill: #fff;
               height: 2rem;
               width: 2rem;
            }

            span {
               margin-top: 0.25rem;
               font-size: 0.85rem;
               font-weight: 500;
            }
         }
      }
   }
}
