@use "../variables" as *;

.socials {
    #linkInfo {
        display : none;
    }

    .external-links {
        list-style : none;
        margin     : 0 1rem;
        padding    : 0;

        li {
            display : inline-block;
        }

        li a.link {
            position        : relative;
            display         : inline-flex;
            justify-content : center;
            align-items     : center;
            padding         : 0.25rem 1rem;
            font-size       : 0.85rem;
            margin          : 0.25rem;
            border-radius   : 1.6rem;
            border          : 2px solid #333;
            text-decoration : none;
            transition      : all 120ms;

            div {
                color      : #f5bfe2;
                transition : all 120ms;
            }

            svg {
                height       : 1.5rem;
                width        : 1.5rem;
                margin-right : 0.15rem;
                fill         : #F364C5;
                padding      : 5px;
                transition   : all 120ms;
            }

            &:after {
                content        : "";
                position       : absolute;
                display        : none;
                height         : 15rem;
                width          : 15rem;
                opacity        : 0.15;
                background     : radial-gradient(circle, currentColor 0%, currentColor 1%, hsla(0, 0%, 0%, 0) 58%);
                z-index        : 50;
                pointer-events : none;
            }

            &:hover,
            &:focus {
                outline : none;
                border  : 2px solid currentColor;
                z-index : 10;

                &:after {
                    display : block;
                }

                div {
                    color : currentColor;
                }

                svg {
                    fill : currentColor;
                }
            }
        }
    }
}