@use "../variables" as *;

$socials : (
        github: #E6EDF3,
        twitch: #A960FF,
        youtube: #F50003,
        twitter: #2C96E8,
        codewars: #F05656,
        tryhackme: #ffeb81,
        hackthebox: #d3ee98,
);

@each $class, $color in $socials {
    li.link-#{$class} {
        background-image : linear-gradient(to left, rgba($color, 0.05) 10%, transparent 50%);

        &:has(a:hover) {
            background-image : linear-gradient(to left, rgba($color, 0.15) 10%, transparent 70%);
        }

        a {
            border: 2px solid rgba($color, 0.5);
            color: $color;

            svg {
                fill  : rgba($color, 0.85);
                color : rgba($color, 0.5);
            }

            &:after {
                color : $color;
            }

            &:hover,
            &:focus {
                filter : drop-shadow(0 0 8px $color) brightness(1.2);

                svg {
                    fill: $color;
                }
            }

            &:active {
                background-image : linear-gradient(to left, rgba($color, 0.02) 10%, transparent 40%);
                box-shadow: none;
            }
        }
    }
}

section.socials {
    display: block;

    h2 {
        position                : relative;
        font-size               : 2.6rem;
        padding                 : 2rem 1rem;
        font-weight             : 900;
        font-family             : Orbitron, Montserrat, sans-serif;
        margin                  : 0;
        background-image        : linear-gradient(45deg, $active, $pink);
        -webkit-background-clip : text;
        color                   : transparent;
        z-index                 : 0;
    }

    .hero.socials-hero {
        position         : sticky;
        top              : 2rem;
        background-image : url("img/trshpuppy-socials.webp");
    }

    #linkInfo {
        display : none;
    }

    .socials-inner {
        display          : grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .external-links {
        list-style       : none;
        margin           : 0;
        background-color : $background;
        border           : 3px solid $border_color;
        border-radius    : 2rem;
        padding          : 0;

        li {
            display         : flex;
            justify-content : space-between;
            transition      : all 200ms;
            padding         : 1rem;
            transition: all 200ms;

            h3 {
                font-size   : 1.4rem;
                font-weight : 500;
                color: $active;
            }

            .description {
                width : 100%;
            }
        }

        li a.link {
            position        : relative;
            display         : inline-flex;
            flex-direction  : column;
            justify-content : center;
            align-items     : center;
            padding         : 1rem;
            border-radius   : 1rem;
            text-decoration : none;
            justify-self    : flex-end;
            align-self      : center;
            margin          : 1rem 0 1rem 1rem;
            transition      : all 200ms;
            box-shadow: 0 0 2rem 0.5rem #000;

            div {
                color      : #f5bfe2;
                transition : all 120ms;
            }

            svg {
                height     : 2rem;
                width      : 2rem;
                transition : all 120ms;
            }

            &:after {
                content        : "";
                display        : block;
                position       : absolute;
                height         : 15rem;
                width          : 15rem;
                opacity        : 0.05;
                background     : radial-gradient(circle, currentColor 0%, currentColor 1%, hsla(0, 0%, 0%, 0) 50%);
                z-index        : 50;
                pointer-events : none;
                transition     : all 200ms;
                animation      : pulse 5s infinite ease;
            }

            &:hover,
            &:focus {
                outline : none;
                z-index : 10;


                &:after {
                    height  : 30rem;
                    width   : 30rem;
                    opacity : 0.05;
                }

                div {
                    color : currentColor;
                }
            }

            &:active {
                filter: drop-shadow(0 0 2px currentColor);

                &:after {
                    height: 1rem;
                    width: 1rem;
                }
            }
        }
    }
}