@font-face {
    font-family: "Montserrat";
    src: url("../../public/fonts/Montserrat.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    src: url("../../public/fonts/Montserrat-Italic.ttf") format("truetype");
}