main {
    width: 100%;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: #fff;
    overflow-y: auto;
    border-left: 4px double rgba(#e3c3f7, 0.25);
    padding: 0 2rem;
}