@use 'variables' as *;

html {
   font-size: 18px;

   body {
      display: flex;
      justify-content: center;
      position: relative;
      min-height: 100vh;
      margin: 0;
      background-color: $background;
      background-image: url('/img/retro-grid.webp');
      background-size: auto 100%;
      background-attachment: fixed;
      font-family: 'Montserrat', sans-serif;

      &:before {
         position: fixed;
         content: '';
         height: 100%;
         width: 100%;
         background-image: linear-gradient($background 75%, transparent);
         z-index: -10;
      }

      & * {
         box-sizing: border-box;
      }

      #root {
         max-width: 1200px;
      }
   }
}
