/**
* Colors
*/
$background: #1e1623;
$foreground: #89669f;
$active: #c3b1ce;

/**
* Header
*/
$nav-links: (
   home: #ffb1fa,
   projects: #c8ffc5,
   blog: #ffffff,
   about: #adc0fe,
   contact: #ff7b00,
);

/**
* Utility
*/
$img_box_shadow:
   0 19px 38px rgba(0, 0, 0, 0.3),
   0 15px 12px rgba(0, 0, 0, 0.22);
