$purple: #5A1D61;
$green: #0F474B;
$light_green: #DDF6F8;
$light_purple: #dab5dc;
$border_color: #5b4f73;

$info: #9DB8D7;
$info_text: #1E2A39;
$success: #9DD7B1;
$success_text: #223A2A;
$warning: #D7BB9D;
$warning_text: #412F1B;
$danger: #D79D9D;
$danger_text: #301C1C;