@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Press+Start+2P&family=Trispace&display=swap");
* {
  margin: 0;
  padding: 0;
  border-radius: 5px;
}

body {
  color: var(--main-font-color);
  background-color: var(--off-white);
  background-image: url(./img/backdrop-light.jpg);
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Insonsolata", monospace;

  /* Default / light mode */
  --main-color: white;
  --navbar: rgb(207, 204, 204);
  --desk-color: #e4e4f9;
  --main-font-color: black;
  --secondary-font-color: #4c3883;
  --off-white: bisque;
  --box-shadow: 5px 5px 10px #a7adb3;
  --btn-box-shadow: 3px 3px 3px #a7adb3;
  --header-box-shadow: 0px 3px 3px #a7adb3;
  --backdrop-img: url(./img/backdrop-light);
  --modal-actual-background: rgba(228, 228, 249, 0.6);
}

body.dark {
  background-image: url(./img/backdrop-dark.jpg);
  /*Dark mode */
  --main-color: #0c1c70;
  --navbar: #465395;
  --desk-color: #2b1b5c;
  --main-font-color: white;
  --secondary-font-color: bisque;
  --off-white: #4c3883;
  --box-shadow: 5px 5px 10px #070707;
  --btn-box-shadow: 3px 3px 3px #070707;
  --header-box-shadow: 0px 3px 3px #070707;
  --modal-actual-background: rgba(43, 27, 92, 0.6);
}
/*~~~~~~~~~~~~~~~ MAIN~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.main {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: center;
  width: clamp(43ch, 100%, 1200px);
  margin: 0 auto;
}
/*~~~~~~~~~~~~~~~~~~ MODAL ~~~~~~~~~~~~~~~~~~~~*/

.modal {
  display: none;
  z-index: 2;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--modal-actual-background);
}
.modal-close {
  align-self: flex-end;
  padding: 10px;
  cursor: pointer;
}
.modal-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: var(--navbar);
  width: 300px;
  position: fixed;
  top: 25vh;
  left: calc(50vw - 150px);
  border: 2px solid black;
  z-index: 3;
}
.modal-content form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  z-index: 3;
}
.modal-content input {
  margin: 10px;
  padding: 5px;
}
.is-read {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.modal-alert-box {
  display: none;
  font-size: 1rem;
  color: red;
  text-align: center;
}
/*~~~~~~~~~~~~~~~~~~HEADER~~~~~~~~~~~~~~~~~~~~~*/
.header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 1fr);
  width: 100%;
  height: 18vh;
  background-color: var(--main-color);
  box-shadow: var(--header-box-shadow);
  z-index: 1;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: 1/1/2/3;
  padding: 10px;
}
.header-logo-img {
  width: clamp(100px, 100%, 150px);
  padding: 10px;
}
/* .searchbar
{
    grid-area: 1/3/2/9;
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content:center;

}
.searchbar form
{
    display:flex;
    flex-flow:row nowrap;
    align-items: center;
    justify-content: flex-end;
    padding:10px;
}
/* #searchbar
{
    margin:5px;
    width:clamp(20ch, 100%, 75ch);
    padding:5px;
}
#search-button
{
    padding:5px;
    margin:5px;
} */
.header-buttons {
  grid-area: 1/3/2/7;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
}
.header-buttons button {
  margin: 20px;
}
button {
  padding: 5px;
  background-color: var(--off-white);
  color: var(--main-font-color);
  box-shadow: var(--btn-box-shadow);
  cursor: pointer;
  border: none;
}
button:hover {
  transform: translateY(-2px);
}
button:active {
  background-color: var(--desk-color);
  transform: translateY(0);
}
/*~~~~~~~~~~~~~~~~~LIBRARY~~~~~~~~~~~~~~~~~~~~~*/
.library {
  display: flex;
  flex-flow: row nowrap;
  /* align-items: stretch; */
  justify-content: flex-start;
  height: 85vh;
  background-color: var(--desk-color);
}
/*~~~~~~~~~~~~~~~~~~LEFT-PANEL~~~~~~~~~~~~~~~~~~*/
.left-panel {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: clamp(45px, 33%, 250px);
  background-color: var(--navbar);
  font-size: clamp(0.8rem, 2vw, 1rem);
  box-shadow: var(--box-shadow);
  z-index: 1;
}
.left-panel p {
  font-style: italic;
  color: var(--secondary-font-color);
  padding-top: 10px;
}

.shelves {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 80%;
  font-size: clamp(0.7rem, 2vw, 1rem);
}
.shelf-box {
  width: 100%;
  background-color: var(--off-white);
  box-shadow: var(--box-shadow);
  box-sizing: border-box;

  margin: 20px 0;
}
.shelf-box ul {
  padding-left: 20px;
}
.shelf-box-title {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid var(--main-color);
  border-radius: 0;
  color: var(--secondary-font-color);
  padding: 3px;
}
.read-tally,
.unread-tally {
  padding: 0 10px;
}
.shelf-box-book {
  text-align: left;
  padding: 10px 0;
}
.shelf-box-book-title {
  font-style: italic;
}
.shelf-box-book-author {
  font-size: clamp(0.7rem, 1vw, 0.8rem);
}
/*~~~~~~~~~~~~~~~~~~DESK~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.desk {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  align-content: flex-start;
  text-align: center;
  width: 70%;
}
.book-card {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  height: 20vh;
  width: clamp(25ch, 40%, 75ch);
  background-color: var(--navbar);
  padding: 10px;
  margin: 10px;
  border-left: 10px solid var(--main-color);
  box-sizing: border-box;
  box-shadow: var(--box-shadow);
}
.book-card-title {
  font-style: italic;
  font-size: 1.2rem;
  color: var(--secondary-font-color);
  border-bottom: 2px solid black;
  border-radius: 0;
}
.book-card-buttons {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  width: clamp(25ch, 40%, 75ch);
}
.book-card button {
  margin: 2px;
}
