@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Press+Start+2P&family=Trispace&display=swap');

/****** CUSTOMS ******/
:root{
/*** Colors ***/
/* Loki Greyscale */
--loki-white:#F7F7F7;
--loki-grey: #B4B8CFl;
--loki-dark-grey:#5B5D69;
--generic-dark-grey: #353535;

/* Loki Colors */
--loki-dark-purple:#050429;
--loki-mid-purple: #351D61;
--loki-dark-plum: #5a1d61;
--loki-plum: #A84887;
--loki-ear-pink: #E68CC6;
--loki-light-yellow:#EEDD99;
--loki-dark-yellow:#E2AD70;
--loki-light-brown:#855A28;
--loki-dark-brown: #331B0F;
--loki-light-teal:#43E0C6;
--loki-dark-teal: #10474B;

/* Clouds Colors */
--sky-dark-blue:#5465E4;
--sky-mid-1:#6F75E5;
--sky-mid-2:#6F75E5;
--sky-mid-3:#A494E8;
--sky-mid-4:#A494E8;
--moon-light:#A494E8;
--moon-dark:#C5B2C5;
--cloud-light:#F0D6F0;
--cloud-dark:#EDC1ED;

/* H4xx0ring Colors */
--hax-light-green: #a1f3a0;
--hax-med-green: #21a31f;
--hax-dark-green: #044903;
--hax-light-teal: var(--loki-light-teal);
--hax-med-teal: rgb(0, 87, 94);
--hax-light-teal-2: rgb(4, 146, 99);
--hax-red:#be0600;
--hax-pink-red:#eb5f5f;
--hax-writeup-background: #101016;

/* Misc */
--code-block-slate:#1f1e22;
--code-block-text:rgb(7, 187, 7);
--box-shadow-grey-tilt: 5px 3px 3px var(--generic-dark-grey);
--box-shadow-teal: 3px 3px 3px var(--loki-light-teal);
--box-shadow-hover: 5px 5px 5px var(--loki-light-teal);
--hover-transform:translatey(-5%);
--box-shadow-active: var(--box-shadow-dark-straight-down);
--active-transform: translateY(0%);
--box-shadow-dark-straight-down: 0px 5px 5px var(--generic-dark-grey);

/*** Other ***/
--rounded-edges:5px;
--h1-color-light:var(--loki-light-yellow);
--h1-color-dark:var(--loki-dark-purple);
--h2-color-light:var(--sky-mid-3);
--h2-color-dark:var(--loki-dark-teal);
--h3-color-light:var(--loki-ear-pink);
--h-other-color-light:var(--cloud-light);
--h-other-color-dark:var(--code-block-slate);
--main-font-dark:var(--code-block-slate);
--main-font-light:var(--cloud-light);

--h1-font:'Press Start 2P', monospace;
--h-other-font:'Trispace', Courier, monospace;
--font-main: 'Inconsolata', monospace;
--font-code-block: 'Ubuntu Mono', monospace;

--h1-font-size:2rem;
--h2-font-size:1.8rem;
--h3-font-size:1.5rem;
--h4-font-size:1.2rem;
--h6-font-size:1rem;
--p-font-size:1.2rem;

--stack-sections-width: clamp(350px, 60vw, 60vw);
--stack-outer-width: clamp(350px, 80vw, 90vw);
}

body {
  background-image: url(/background2.png);
  background-position-x: 60%;
  background-position-y: 0%;
  background-size: 100%;
  background-attachment: fixed;
  z-index: 1;
}

h1 {
  color:var(--h1-color-light);
  font-family: var(--h1-font);
}

h2 {
  color:var(--h2-color-light);
  font-family: var(--h-other-font);
  font-size: var(--h2-font-size);
}

h3 {
  color:var(--h3-color-light);
  font-family: var(--h-other-font);
  font-size: var(--h3-font-size);
}

h4 {
  color:var(--h-other-color-light);
  font-family: var(--h-other-font);
  font-size: var(--h4-font-size);
}

h5 {
  color:var(--h-other-color-light);
  font-family: var(--h-other-font);
  font-size: var(--h5-font-size);
}

h6 {
  color:var(--h-other-color-light);
  font-family: var(--h-other-font);
  font-size: var(--h6-font-size);
}

p {
  color:white;
  font-family: var(--font-main);
  font-size: var(--p-font-size);
}

.hidden {
  display:none;
}

/*                                   ** START APP **                                   */
#app {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    color: var(--loki-white);
    font-family: var(--font-main);
    min-height: 100vh;
    margin: 0;
    padding: 0;
    border-radius: var(--rounded-edges);
    text-align: center;
}

/*                     * NAV CONTAINER *                     */
#nav-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: var(--stack-outer-width);
  background-color: var(--loki-dark-teal);
  border-radius: var(--rounded-edges); 
  box-shadow: var(--box-shadow-dark-straight-down);
  z-index: 1;
  margin:10px;
  padding:10px;
}

#nav-container #main-nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 60vw;
  padding: 5px;
  padding-top: 20px;
}

#main-nav button {
  font-family: 'Trispace', monospace;
  font-size: medium;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  box-shadow:var(--box-shadow-grey-tilt);
  border: 2px solid var(--loki-ear-pink);
  padding: 10px;
  margin: 5px;
  background-color: var(--code-block-slate);
}

#main-nav button:hover {
  box-shadow: var(--box-shadow-hover);
  transform: var(--hover-transform);
}

#main-nav button:active{
  box-shadow: var(--box-shadow-active);
  transform: var(--active-transform);
}

#main-nav #logo-div #home-btn {
  max-width: 150px;
  border-radius: 100%;
  box-shadow: var(--box-shadow-grey-tilt);
  border: var(--loki-ear-pink);
  cursor: pointer;
}

#main-nav #logo-div #home-btn:hover {
  box-shadow: var(--box-shadow-hover);
  transform: var(--hover-transform);
}

#main-nav #logo-div #home-btn:active{
  box-shadow: var(--box-shadow-active);
  transform: var(--active-transform);
}

#main-nav #main-nav-menu {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  width: calc(30vw);
  padding: 0;
  margin: 0;
}

/*                     * CONTENT CONTAINER *                     */
.content-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: #05042950;
  width: var(--stack-outer-width);
  border-radius: var(--rounded-edges);
  margin:10px;
  padding:10px;
  padding-top:0;
  box-shadow: var(--box-shadow-dark-straight-down);
}

.content-container .content-stack-top {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color:var(--loki-plum);
  width: var(--stack-sections-width);
  border-radius: var(--rounded-edges);
  box-shadow: var(--box-shadow-dark-straight-down);
  z-index: 1;
  margin: 10px;
  padding:10px;
  padding-bottom: 0;
}

.content-stack-top img {
  width: clamp(150px, 10vw, 10vw);
}

.content-container .content-stack-2 {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: #10474B;
  width: var(--stack-sections-width);
  border-radius: var(--rounded-edges);
  margin: 10px;
  padding: 10px;
  box-shadow: var(--box-shadow-dark-straight-down);
}

#home-stack-2 img {
  width: 15vw
}

.section-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

}

.section-column {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}

#home-linkbox-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  width: 60vw;
  /* padding: 10px; */
}

#home-linkbox-container button {
  cursor: pointer;
  border-radius: 5px;
  box-shadow:var(--box-shadow-grey-tilt);
  /* padding: 10px; */
  margin: 5px;
  background-color: var(--code-block-slate);
  border: 2px solid var(--loki-ear-pink);
  min-width: 300px;
  min-height: 300px;
}

#home-linkbox-container button:hover {
  box-shadow: var(--box-shadow-hover);
  transform: var(--hover-transform);
}

#home-linkbox-container button:active{
  box-shadow: var(--box-shadow-active);
  transform: var(--active-transform);
}

#home-linkbox-container button .home-linkbox-img {
  min-width: 80%;
}

/*                     * PORTFOLIO SECTION *                     */
.content-container #port-nav-container {
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--loki-mid-purple);
  width:var(--stack-outer-width);
  padding:10px;
  margin:10px;
  margin-top:0;
  border-radius: var(--rounded-edges);
}

.content-container #port-nav-container button {
  font-family: 'Trispace', monospace;
  font-size: medium;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  box-shadow:var(--box-shadow-grey-tilt);
  border: 2px solid var(--loki-ear-pink);
  padding: 10px;
  margin: 10px;
  background-color: var(--code-block-slate);
}

.content-container #port-nav-container button:hover {
  box-shadow: var(--box-shadow-hover);
  transform: var(--hover-transform);
}

.content-container #port-nav-container button:active{
  box-shadow: var(--box-shadow-active);
  transform: var(--active-transform);
}

.content-container #port-content-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background-color: var(--loki-dark-purple);
  text-align: center;
}

.content-container #port-content-container h2 {
  color: var(--loki-light-teal);
  font-size: 1.5rem;
}

#portfolio-stack-2-context {
  flex-flow: row wrap;
}

#portfolio-stack-2-context p, h2 {
  width: clamp(350px, 30vw, 30vw);
  font-size: 1.5rem;
}

#portfolio-pant-gif {
  width: 200px;
}

/*                    * WRITEUPS SECTION *                     */
#writeups-content-container {
  background-color: transparent;  
  margin: 0px;
}

#writeup-previews {
  flex-flow: row wrap;
  justify-content: center;
  width: var(--stack-outer-width);
  align-items: center;
}

#writeup-previews .preview-card {
  justify-content: space-between;
  width: clamp(350px, 28vw, 28vw);
  background-color: var(--loki-dark-teal);
  border-radius: var(--rounded-edges);
  margin: 10px;
  box-shadow: var(--box-shadow-dark-straight-down);
  cursor: pointer;
}

#writeup-previews a:link {
  text-decoration: none;
}

#writeup-previews .preview-card:hover {
  box-shadow: var(--box-shadow-hover);
  transform: var(--hover-transform);
} 

#writeup-previews .preview-card:active{
  box-shadow: var(--box-shadow-active);
  transform: var(--active-transform);
}

#writeup-previews .wu-preview-img {
  width: clamp(150px, 12vw, 12vw);
  padding: 10px;
  border-radius: var(--rounded-edges);
}

#writeup-previews .wu-preview-text {
  align-items: flex-start;
  width: clamp(300px, 10vw, 10vw);
  font-size: .8rem;
}

.wu-preview-text h2 {
  color: var(--loki-light-teal);
  width: fit-content;
  padding: 5px;
  margin: 0;
  text-align: left;
}

.wu-preview-text p {
  width: fit-content;
  padding: 5px;
  margin: 0;
  overflow: hidden;
  text-align: left;
}

#markdown-div {
  align-self: inherit;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--hax-writeup-background);
  width: var(--stack-sections-width);
  border-radius: var(--rounded-edges);
  padding: 10px;
  text-align:left;
  box-shadow: var(--box-shadow-dark-straight-down);
  word-wrap: break-word;
}

#markdown-div .language-bash {
  color: var(--code-block-text);
  text-align: left;
}

#markdown-div code {
  color: var(--code-block-text);
}

#markdown-div pre {
  background-color: var(--code-block-slate);
  width: clamp(350px, 400vw, 40vw);
  border-radius: 5px;
  overflow: scroll;
  word-wrap: break-word;
  font-family: var(--code-block-text);
  margin: clamp(10px, 50px, 50px);
  margin-top: 10px;
  margin-bottom: 10px;
  padding:10px;
}

#markdown-div blockquote {
  background-color:var(--generic-dark-grey);
  width: 30vw;
  margin: clamp(10px, 50px, 50px);
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  align-self: center;
  line-height: .8rem;
}

#markdown-div h1 {
  font-size: 2rem;
  align-self: center;
  text-align: center;
  margin: clamp(10px, 50px, 50px);
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--hax-red);
}

#markdown-div h2 {
  font-size: 2rem;
  font-style: italic;
  margin: clamp(10px, 50px, 50px);
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--hax-light-teal);
}

#markdown-div h3 {
  font-size: 1.8rem;
  font-style: italic;
  margin: clamp(10px, 50px, 50px);
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--hax-pink-red);
}

#markdown-div h4 {
  font-size: 1.5rem;
  font-style: italic;
  font-family: 'Trispace', 'Courier New', Courier, monospace;
  margin: clamp(10px, 50px, 50px);
  margin-top: 10px;
  margin-bottom: 10px;
  color:var(--hax-med-green);
}

#markdown-div h5 {
  font-size: 1.2rem;
  font-style: italic;
  margin: clamp(10px, 50px, 50px);
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--hax-light-teal-2);
}

#markdown-div h6 {
  font-size: 1rem;
  font-style: italic;
  margin: clamp(10px, 50px, 50px);
  margin-top: 10px;
  margin-bottom: 10px;
}

#markdown-div p {
  font-size: 1.2rem;
  margin: clamp(10px, 50px, 50px);
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

#markdown-div li {
  font-family: "Inconsolata", monospace;
  margin: clamp(10px, 50px, 50px);
  margin-top: 10px;
  margin-bottom: 10px;
}

#markdown-div img {
  align-self: center;
  width: clamp(300px, 30vw, 30vw);
}

#markdown-div a {
  color: var(--hax-light-green);
}

/*                     * ABOUT SECTION *                     */
#about-stack-top {
  align-items: center;
  /* justify-content: space-between; */
  background-color:var(--loki-dark-plum);
}

#about-blurb {
  display:flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
 width: clamp(350px, 30vw, 30vw);
}

#about-pic {
  width: clamp(150px, 20vw, 20vw);
  border-radius: 100%;
  margin: 10px;
}


#about-pic-section h2 {
  display: unset;
  align-self: center;
  font-size: 1.5rem;
  color:var(--loki-ear-pink);
}
/*                                   ** END APP **                                   */